---
layout: default
comments: true
---

<article class="post">

  <div class="entry">
    <div class="mode_btn view_question_source">
      <a class="edit_question" href="#">Edit Question</a>
    </div>
    {{ content }}
  </div>

  <div class="answer_container">
    <div>
      <b>Answer</b>
      <a class="edit_answer" href="#">Improve This Solution</a>
    </div>
    <div class="answer_content"></div>
  </div>

<div class="container exercise_mode">
  <div class="mode_btn view_answer">View Answer</div> 
  <div class="mode_btn request_answer"><a href="#">Request Answer</a></div>
</div>
</article>